body {
  height: 100%;
  margin: 0 auto;
}

.wrap-background {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 20%;
  text-align: center;
}

.wrap-background > h1 {
  color: #fff;
  margin-bottom: 30px;
}

.wrap-background > input {
  padding: 10px;
}

.wrap-background > input:nth-child(2) {
  width: 30%;
}

.row {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}

h1 {
  text-align: center;
  margin: 40px 0;
}

.row .card {
  height: 100%;
}

.card img {
  height: 80%;
}

.row .col-sm-4 {
  margin-bottom: 50px;
}
