<% if (data.body.items.length === 0) { %>
  <p> No se han encontrado albumes.</p>
<% } else { %>
  <div class="">
    <% data.body.items.forEach((album) => { %>
      <div class="">
        

      </div>


    })%>

  </div>

<% } %>
