<form action="/artists" method="POST">
<div class="wrap-background">
  <h1>Busca las canciones que más te gusten</h1>
  <input type="text" placeholder="Busca a tu artista favorito" name="artist">
  <input type="submit" value="Submit">
</div>
</form>
