<h1> Tracks </h1>

<ul>
<% data.body.items.forEach((track) => { %>
  <li> <%= track.name %>
    <% if (track.preview_url !==null) { %>
      <audio controls="controls">
        <source src="<%= track.preview_url %>" type="">
        <p> No hay una pista de vista previa para esta canción. </p>
      </audio>
    <% } else { %>
      <p> No puedes escuchar la vista previa de esta canción. </p>
    <% } %>
  </li>
<% }) %>
</ul>
